@font-face {
    font-family: "Jersey10";
    src: url("Jersey_10/Jersey10-Regular.ttf");
}

b, span {
    font-size: x-large;
}

section h4 {
    background-color: yellow;
}

p > b {
    background-color: yellow;
  }

h4 ~ ul {
    background-color: yellow;
}

h3 + p {
    background-color: yellow;
  }

header.flex-container {
    background-color: yellow;
}

p:has(i) {
    background-color: lightyellow;
  }

.extra {
    font-family: system-ui;
    font-size: 1.2rem;
    & > strong {
      color: tomato;
    }
}

a[target] {
    background-color: yellow;
}
  
body {
    background-color: var(--body-color, lightblue); /*make the background blue */
  }

  title {
    color: navy;
    text-decoration: underline;
    text-align: center;
    margin-left: 10pc;
    display: none;
    position: sticky;
  }

  h2 {
    color: #FFFF00;
    margin-left: 20pt;
    font-size: 1.5em;
    font-family: "Jersey10";
    display: block;
  }
  
  h3 {
    color: rgb(255, 0, 255);
    margin: 15px 15px 15px 15px;
    font-size: 1.2rem;
    border-color: blue;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
  }

  p {
    color: hsl(147, 50%, 47%);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    max-height: 10px;
    max-width: 800px;
    position: static;
  }

  h4 {
    color: color(prophoto-rgb 1 0 0);
    margin: auto;
  } 

  li {
    color: color-mix(in srgb, #34c9eb 100%, white);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }  

  img {
    padding: 50px 50px 50px 50px;
    border: 5px solid red;
    border-radius: 50px 20px;
    height: 175px;
    width: 230px
  }

